<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Batalla Naval</title>
        <link rel="stylesheet" href="/css/base.css">
        <script type="text/javascript" src="/script/javascript.js"></script>
    </head>
    <body>
        <%= yield %>
        <footer >
            <hr />
            <ul>
                <li>&copy; Batalla Naval. All rights reserved.</li>
            </ul>
        </footer>
    </div>  
</body>
</html>